<!-- Weather data has been loaded -->
<div
  *ngIf="liveWeatherData"
  [ngClass]="[
    'flex flex-col grow h-96 w-full overflow-y-auto p-2 gap-y-4 md:gap-y-8 rounded-xl bg-cover bg-no-repeat',
    weatherBackground
  ]"
>
  <!-- Header with location, time and unit system toggle -->
  <header
    ngClass="
    flex flex-row justify-evenly items-center gap-x-8 gap-y-2
    font-slogan text-xl md:text-2xl lg:text-3xl text-center flex-wrap"
  >
    <span>{{ liveWeatherData.location.localtime | date: 'HH:mm' }}</span>
    <span>{{ locationString }}</span>
    <mat-button-toggle-group
      (valueChange)="toggleUnitSystem($event)"
      #toggleGroup
      [multiple]="false"
      name="unitSystem"
      ngClass="text-sm md:text-base"
      aria-label="Unit System"
      [value]="unitSystem"
    >
      <mat-button-toggle value="metric">Metric</mat-button-toggle>
      <mat-button-toggle value="imperial">Imperial</mat-button-toggle>
    </mat-button-toggle-group>
  </header>
  <!-- Main component, divided into 2 sides of information -->
  <main
    ngClass="flex flex-row gap-x-3 gap-y-3 justify-evenly items-center flex-wrap"
  >
    <!-- Left side containing temperature and description -->
    <div
      ngClass="
      flex flex-col grow justify-evenly items-center basis-0 h-64  min-w-[300px]"
    >
      <div ngClass="font-weatherdescription text-4xl">
        {{ liveWeatherData.current.condition.text }}
      </div>
      <div ngClass="font-temperature text-5xl">{{ temperature }}</div>
    </div>
    <!-- Right side with wind, direction, precipitation and humidity -->
    <div
      ngClass="flex flex-col grow justify-between items-center basis-0 h-64 min-w-[300px] px-4"
    >
      <!-- Wind -->
      <div id="weather-kv-container">
        <div id="weather-key">
          {{ unitSystem === 'metric' ? 'Wind (kph):' : 'Wind (mph)' }}
        </div>
        <div id="weather-value">{{ wind }}</div>
      </div>
      <!-- Wind Direction -->
      <div id="weather-kv-container">
        <div id="weather-key">Wind Direction (°)</div>
        <div id="weather-value">{{ liveWeatherData.current.wind_degree }}</div>
      </div>
      <!-- Precipitation -->
      <div id="weather-kv-container">
        <div id="weather-key">
          {{
            unitSystem === 'metric'
              ? 'Precipitation (mm):'
              : 'Precipitation (in)'
          }}
        </div>
        <div id="weather-value">{{ precipitation }}</div>
      </div>
      <!-- Humidity -->
      <div id="weather-kv-container">
        <div id="weather-key">Humidity</div>
        <div id="weather-value">{{ liveWeatherData.current.humidity }}%</div>
      </div>
    </div>
  </main>
</div>

<!-- Data not loaded yet, prompt user to enter a query -->
<div
  *ngIf="!liveWeatherData"
  ngClass="flex flex-col grow h-full w-full overflow-y-auto p-2
  justify-center items-center font-weatherheader text-center break-words
  text-3xl sm:text-4xl md:text-5xl"
>
  ⬆ Make a Query Above ⬆ 😇
</div>
