<header
  [ngClass]="[
    'flex flex-row justify-between align-middle h-16 md:h-22 lg:h-24 px-6 lg:px-8 bg-slate-100 dark:bg-slate-800',
    currentTheme
  ]"
>
  <!-- Title and slogan -->
  <div
    ngClass="
    flex flex-row justify-start items-center py-4 gap-x-1 sm:gap-x-3
    font-semibold text-black dark:text-white
    "
  >
    <span ngClass="text-3xl md:text-4xl lg:text-6xl font-title tracking-wide">
      SkyStory
    </span>
    <span
      ngClass="md:pb-1 md:text-sm text-xs self-end font-slogan hidden mobile:block"
    >
      Weather forecast: free, easy
    </span>
  </div>

  <!-- Navigation Buttons -->
  <div
    ngClass="
    hidden sm:flex flex-row justify-center items-center py-4 gap-x-1 md:gap-x-2 lg:gap-x-6
    text-black dark:text-white font-serif"
  >
    <!-- Home and App Page -->
    <button
      mat-stroked-button
      ngClass="flex flex-col lg:px-10 md:px-6 py-1 md:py-2 px-4
      bg-zinc-200 dark:bg-zinc-800"
      routerLink="/app"
      color="basic"
    >
      <mat-icon ngClass="text-2xl lg:text-4xl" [inline]="true">
        cloud_queue
      </mat-icon>
      <div ngClass="nav-button-text">App</div>
    </button>
    <!-- User Profile Page, if logged in -->
    <button
      mat-stroked-button
      ngClass="flex flex-col lg:px-8 md:px-4 py-1 md:py-2 px-2
      bg-zinc-200 dark:bg-zinc-800"
      routerLink="/profile"
      color="basic"
    >
      <mat-icon ngClass="text-2xl lg:text-4xl" [inline]="true">person</mat-icon>
      <div ngClass="nav-button-text">Profile</div>
    </button>
  </div>

  <!-- Links to Github and LinkedIn -->
  <div
    ngClass="
    hidden sm:flex flex-row justify-center items-center py-4 gap-x-1 md:gap-x-4 lg:gap-x-6
  text-black dark:text-white font-serif"
  >
    <!-- LinkedIn -->
    <a
      href="https://www.linkedin.com/in/aronteh/"
      target="_blank"
      rel="noreferrer noopener"
      matTooltip="Creator LinkedIn"
    >
      <img
        ngClass="linkedin-link"
        [src]="
          currentTheme === 'dark'
            ? './../../assets/linkedin-white.png'
            : './../../assets/linkedin-normal.png'
        "
      />
    </a>
    <!-- GitHub, Direct to Project -->
    <a
      href="https://github.com/Ellipsoul/weather-app/"
      target="_blank"
      rel="noreferrer noopener"
      matTooltip="Project GitHub"
    >
      <img
        ngClass="github-link"
        [src]="
          currentTheme === 'dark'
            ? './../../assets/github-light.png'
            : './../../assets/github-dark.png'
        "
      />
    </a>
  </div>

  <!-- Menu Access for Mobile Users -->
  <button
    mat-icon-button
    ngClass="text-black dark:text-white sm:hidden self-center"
    [matMenuTriggerFor]="menu"
    #matMenuTrigger="matMenuTrigger"
    (window:resize)="matMenuTrigger.closeMenu()"
  >
    <mat-icon [inline]="true" ngClass="text-4xl">menu</mat-icon>
  </button>
  <!-- Menu Buttons -->
  <mat-menu #menu="matMenu" class="matmenu font-title">
    <!-- Navigation Buttons -->
    <button mat-menu-item routerLink="/app" ngClass="mat-menu-button">
      Home
    </button>
    <button
      mat-menu-item
      routerLink="/profile"
      ngClass="mat-menu-button"
      (click)="checkAuthentication()"
    >
      Profile
    </button>
    <!-- GitHub and LinkedIn -->
    <button mat-menu-item ngClass="mat-menu-button">
      <a
        href="https://www.linkedin.com/in/aronteh/"
        target="_blank"
        rel="noopener noreferrer"
        >LinkedIn</a
      >
    </button>
    <button mat-menu-item ngClass="mat-menu-button">
      <a
        href="https://github.com/Ellipsoul/weather-app/"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub</a
      >
    </button>
  </mat-menu>
</header>
