<!-- Entire component will reside within a drawer container -->
<mat-drawer-container
  class="grow bg-blue-200 dark:bg-blue-800"
  [hasBackdrop]="!isDesktop"
>
  <!-- Content within drawer -->
  <mat-drawer
    #drawer
    [mode]="isDesktop ? 'push' : 'over'"
    [opened]="true"
    ngClass="flex flex-col w-64 md:w-96 px-2 py-2 md:px-4 md:py-4
    bg-sky-100 dark:bg-sky-900 text-black dark:text-white border border-pink-200"
  >
    <!-- Past Queries Header -->
    <header
      ngClass="text-2xl md:text-3xl font-heading font-bold text-center
      border border-green-200 py-1 md:py-3"
    >
      Past Queries
    </header>

    <!-- Previous requests and prompt to sign in/out -->
    <main ngClass="border border-amber-200 h-full overflow-y-auto">
      <!-- User is signed in, display past requests with Sign Out at bottom -->
      <div *ngIf="user">
        User is Signed in!
        {{ user?.displayName }}
        <button mat-raised-button (pointerdown)="signOut()">Sign Out</button>
      </div>
      <!-- User not signed in, prompt to sign in -->
      <div *ngIf="!user">
        User is not Signed in!
        <button mat-raised-button (pointerdown)="googleSignIn()">
          Google Sign In
        </button>
      </div>
    </main>
  </mat-drawer>

  <!-- Container with Drawer Toggle Button and Main Page -->
  <mat-drawer-content ngClass="flex flex-row bg-transparent">
    <!-- Drawer Content -->
    <aside ngClass="flex flex-col">
      <div ngClass="grow invisible"></div>
      <button
        mat-icon-button
        [matTooltip]="isDrawerOpen ? '' : 'Past Queries'"
        (click)="drawer.toggle()"
        id="toggle-button"
        [ngClass]="[
          'text-black dark:text-white rounded-full',
          !isDesktop && isDrawerOpen ? 'left-64 md:left-96' : ''
        ]"
      >
        <mat-icon
          [ngClass]="[
            'text-5xl absolute bottom-5 right-5',
            drawerClosing && !isDesktop ? 'hidden' : ''
          ]"
        >
          {{ drawer.opened ? 'chevron_left' : 'chevron_right' }}
        </mat-icon>
      </button>
      <div ngClass="grow-4/3 invisible"></div>
    </aside>

    <!-- Main Page Content -->
    <div ngClass="text-black grow bg-blue-200 dark:bg-blue-800">
      <button (click)="toggleTheme()">Toggle Theme</button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
