@import-normalize;
@tailwind base;
@tailwind components;

@layer components {
  /* Background colour for home page */
  :host {
    @apply bg-yellow-100 flex flex-row grow;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    @apply dark:text-white;
  }
}

#toggle-button {
  transition: all 0.5 ease-out;
}

/* Drawer container has an annoying inner container yoinking the flex away */
::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

/* Customer slide toggle background and size */

/* Thumb, not checked */
::ng-deep
  .mat-slide-toggle:not(.mat-checked):not(.mat-disabled)
  .mat-slide-toggle-thumb {
  background-color: #0c4a6e;
}

/* Thumb, checked */
::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-thumb {
  background-color: #166534;
}

/* Bar, not checked */
::ng-deep
  .mat-slide-toggle:not(.mat-checked):not(.mat-disabled)
  .mat-slide-toggle-bar {
  background-color: #38bdf8;
}

/* Bar, checked */
::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-bar {
  background-color: #86efac;
}

/* Larger slide toggle */
.mat-slide-toggle {
  transform: scale(1.5);
}

/* Custom input border colors */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: gray !important;
}

/* Custom input width and padding to centralise element */
::ng-deep mat-form-field > * {
  width: calc(80% - 5vw) !important;
}

.auto-margin-left {
  padding-left: 22.5%;
}

/* Removing buggy focus indicator */
::ng-deep .mat-ripple.mat-slide-toggle-ripple.mat-focus-indicator {
  display: none !important;
}
