<!-- Weather data has been loaded -->
<div
  *ngIf="forecastWeatherData"
  ngClass="flex flex-col grow h-96 w-full overflow-y-auto p-2 gap-y-4 md:gap-y-8 rounded-xl bg-cover bg-no-repeat"
>
  <!-- Header with location, time and unit system toggle -->
  <header
    ngClass="
    flex flex-col md:flex-row justify-evenly items-center gap-x-8 gap-y-2 pt-3
    font-slogan text-xl md:text-2xl lg:text-3xl text-center flex-wrap"
  >
    <span>
      {{ dateIso | dateTimeFormat: 'HH:mm' }}
    </span>
    <span>{{ locationString }}</span>
    <mat-button-toggle-group
      (valueChange)="toggleUnitSystem($event)"
      #toggleGroup
      [multiple]="false"
      name="unitSystem"
      ngClass="text-sm md:text-base"
      aria-label="Unit System"
      [value]="unitSystem"
    >
      <mat-button-toggle value="metric">Metric</mat-button-toggle>
      <mat-button-toggle value="imperial">Imperial</mat-button-toggle>
    </mat-button-toggle-group>
  </header>
  <!-- Main component, mapped to 3 different forecast day objects -->
  <main
    ngClass="flex flex-col md:flex-row gap-x-3 gap-y-3 justify-evenly items-center flex-wrap
      border border-purple-300"
    *ngFor="let forecastInfo of forecastInfos"
  >
    <div>{{ forecastInfo.avgTemp }}</div>
    <div>{{ forecastInfo.background }}</div>
    <div>{{ forecastInfo.minTemp }}</div>
    <div>{{ forecastInfo.maxTemp }}</div>
    <div>{{ forecastInfo.condition }}</div>
    <div>{{ forecastInfo.code }}</div>
    <div>{{ forecastInfo.dateIso | dateTimeFormat: 'DD MMM' }}</div>
  </main>
</div>

<!-- Data not loaded yet, prompt user to enter a query -->
<div
  *ngIf="!forecastWeatherData"
  ngClass="flex flex-col grow h-full w-full overflow-y-auto p-2
  justify-center items-center font-weatherheader text-center break-words
  text-3xl sm:text-4xl md:text-5xl"
>
  ⬆ Make a Query Above ⬆ 😇
</div>
