<!-- Weather data has been loaded -->
<div
  *ngIf="forecastWeatherData"
  ngClass="flex flex-col grow h-108 w-full overflow-y-auto p-2 gap-y-4 md:gap-y-8 rounded-xl bg-cover bg-no-repeat"
>
  <!-- Header with location, time and unit system toggle -->
  <header
    ngClass="
    flex flex-col md:flex-row justify-evenly items-center gap-x-8 gap-y-2 pt-3
    font-slogan text-xl md:text-2xl lg:text-3xl text-center flex-wrap"
  >
    <span>
      {{ dateIso | dateTimeFormat: 'HH:mm' }}
    </span>
    <span>{{ locationString }}</span>
    <mat-button-toggle-group
      (valueChange)="toggleUnitSystem($event)"
      #toggleGroup
      [multiple]="false"
      name="unitSystem"
      ngClass="text-sm md:text-base"
      aria-label="Unit System"
      [value]="unitSystem"
    >
      <mat-button-toggle value="metric">Metric</mat-button-toggle>
      <mat-button-toggle value="imperial">Imperial</mat-button-toggle>
    </mat-button-toggle-group>
  </header>
  <!-- Main component, mapped to 3 different forecast day objects -->
  <main
    ngClass="flex flex-col lg:flex-row gap-x-3 gap-y-3 justify-between items-stretch md:items-center w-full"
  >
    <div *ngFor="let forecastInfo of forecastInfos" ngClass="w-full">
      <div
        [ngClass]="[
          'h-auto lg:h-64 w-full lg:w-auto flex flex-col justify-between items-center',
          'rounded-xl bg-cover bg-no-repeat border border-transparent dark:border-white px-6 lg:px-3 py-3 gap-y-3',
          forecastInfo.background
        ]"
      >
        <!-- Header area with date and weather description -->
        <div ngClass="text-center w-full flex flex-col gap-y-1">
          <div ngClass="w-full text-2xl lg:text-3xl font-title">
            {{ forecastInfo.dateIso | dateTimeFormat: 'D MMM' }}
          </div>
          <div ngClass="w-full text-2xl font-slogan break-words">
            {{ forecastInfo.condition }}
          </div>
        </div>
        <!-- Weather stats area -->
        <div
          ngClass="grow w-full flex flex-col items-center justify-between text-center gap-y-1"
        >
          <div id="weather-kv-container">
            <span id="weather-key">Min</span>
            <span id="weather-value">{{ forecastInfo.minTemp }}</span>
          </div>
          <div id="weather-kv-container">
            <span id="weather-key">Avg</span>
            <span id="weather-value">{{ forecastInfo.avgTemp }}</span>
          </div>
          <div id="weather-kv-container">
            <span id="weather-key">Max</span>
            <span id="weather-value">{{ forecastInfo.maxTemp }}</span>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<!-- Data not loaded yet, prompt user to enter a query -->
<div
  *ngIf="!forecastWeatherData"
  ngClass="flex flex-col grow h-full w-full overflow-y-auto p-2
  justify-center items-center font-weatherheader text-center break-words
  text-3xl sm:text-4xl md:text-5xl"
>
  ⬆ Make a Query Above ⬆ 😇
</div>
